<!DOCTYPE html>
{% load staticfiles %}
<html>

<head>
    <meta charset="UTF-8">
    <title>jubeat scores record website</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'bootstrap-table-master/src/bootstrap-table.css' %}">

    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'bootstrap-table-master/src/bootstrap-table.js' %}"></script>
</head>

<body>
    <div class="row" style="background-color: #C0C0C0">
        <div class="col-md-8">
            <h1>jubeat Scores Online</h1>
        </div>
    </div>

    <h3>Upload</h3>

    <div>
        <p><input placeholder="player_id" id="player_id"></p>

        <div class="row">
            <div class="col-md-2">
                <p>MusicScores.sqlite </p>
                <p>MusicScores.sqlite-wal </p>
            </div>
            <div class="col-md-10">
                <p><input type="file" name="file" id="file_upload_1"></p>
                <p><input type="file" name="file" id="file_upload_2"></p>
            </div>
        </div>

        <button  type="button" class="btn btn-default" onclick="FileUpload()">上传</button>
    </div>

    <br/>

    <h3>View</h3>

    <div>
        <p><input placeholder="player_id" id="player_id_view"></p>
        <button  type="button" class="btn btn-default" onclick="viewScore()">查看</button>
    </div>

<script>
    function FileUpload() {
        var form_data = new FormData();
        var file = $("#file_upload_1")[0].files[0];
        var wal_file = $("#file_upload_2")[0].files[0];
        var id = $("#player_id").val();
        form_data.append("score",file);
        form_data.append("wal",wal_file);
        form_data.append("id", id);
        $.ajax({
            url: "/upload/",
            type: "post",
            data: form_data,
            dataType: "text",
            processData: false,
            contentType: false,
            success: function(callback) {
                if(callback == "EMPTY") {
                    alert("没有文件");
                }
                else if(callback == "OK") {
                    alert("上传成功");
                }
                else if(callback == "WRONG"){
                    alert("文件错误");
                }
                else {
                    alert("您在数据库中的ID已更新。\n原ID：" + callback + "\n新ID：" + id);
                    $("#player_id_view").val(id);
                    viewScore();
                };
            },
            error: function() {
                alert("上传失败");
            }
        });
    };

    function viewScore() {
        var pid = $("#player_id_view").val();

        $.ajax({
            url: "/p_check/",
            type: "get",
            data: "pid=" + pid,
            dataType: "text",
            success: function(callback) {
                if(callback != "0") {
                    window.location.href="/player/detail/?uid="+callback;
                }
                else {
                    alert("NOT OK");
                };
            },
            error: function() {
                alert("无此ID");
            }
        });
    };
</script>
</body>

</html>
