<!DOCTYPE html>
{% load staticfiles %}
<html>

<head>
    <meta charset="UTF-8">
    <title>jubeat scores record website</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <!--<link rel="stylesheet" href="{% static 'bootstrap-table-master/src/bootstrap-table.css' %}">-->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.css">

    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!--<script src="{% static 'bootstrap-table-master/src/bootstrap-table.js' %}"></script>-->
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
</head>

<body>
    <div class="row" style="background-color: #C0C0C0">
        <div class="col-md-8">
            <h2 id="player"></h2>
        </div>
        <div class="col-md-4" style="text-align: right">
            <br/>
            <button type="button" class="btn btn-default" onclick="switchPage_sum()">Summary</button>
            <button type="button" class="btn btn-default" onclick="switchPage_skp()">SKP Mode</button>
            <button type="button" class="btn btn-default" onclick="switchPage_home()">Home</button>
        </div>
    </div>

    <p></p>

    <div>
        <table id="score_table" class="display cell-border compact">
            <thead style="background-color: #C0C0C0">
                <tr>
                    <th rowspan="2" style="text-align: center">Title</th>
                    <th rowspan="2" style="text-align: center">Artist</th>
                    <th rowspan="2" style="text-align: center">PC</th>
                    <th colspan="4" style="text-align: center">BASIC</th>
                    <th colspan="4" style="text-align: center">ADVANCED</th>
                    <th colspan="4" style="text-align: center">EXTREME</th>
                </tr>
                <tr>
                    <th style="text-align: center">Lv</th>
                    <th style="text-align: center">Score</th>
                    <th style="text-align: center">R</th>
                    <th style="text-align: center">FC</th>
                    <th style="text-align: center">Lv</th>
                    <th style="text-align: center">Score</th>
                    <th style="text-align: center">R</th>
                    <th style="text-align: center">FC</th>
                    <th style="text-align: center">Lv</th>
                    <th style="text-align: center">Score</th>
                    <th style="text-align: center">R</th>
                    <th style="text-align: center">FC</th>
                </tr>
            </thead>
        </table>
    </div>

<script>
    var score_table = $("#score_table");
    uid = window.location.href.split("/player/detail/?uid=")[1];

    $.fn.dataTable.ext.type.order["score-asc"] = function (x, y) {
        if (x == "--") {
            if (y == "--") {
                return 0;
            }
            else {
                return 1;
            };
        }
        else if (y == "--") {
            return -1;
        }
        else {
            return x - y;
        };
    };

    $.fn.dataTable.ext.type.order["score-desc"] = function (x, y) {
        if (x == "--") {
            if (y == "--") {
                return 0;
            }
            else {
                return 1;
            };
        }
        else if (y == "--") {
            return -1;
        }
        else {
            return y - x;
        };
    };

    $.fn.dataTable.ext.type.order["level-pre"] = function (x) {
        switch(x) {
            case "Lv1": return 1;
            case "Lv2": return 2;
            case "Lv3": return 3;
            case "Lv4": return 4;
            case "Lv5": return 5;
            case "Lv6": return 6;
            case "Lv7": return 7;
            case "Lv8": return 8;
            case "Lv9": return 9;
            case "Lv10": return 10;
        };
    };

    $.ajax({
        url: "/u_check/",
        type: "get",
        data: "uid=" + uid,
        dataType: "text",
        success: function(callback) {
            var pid = callback;

            $.ajax({
                url: "/pc/",
                type: "get",
                data: "uid=" + uid,
                dataType: "text",
                success: function(callback) {
                    $("#player").html(pid + "&nbsp&nbsp&nbsp&nbsp[Total Play Count: " + callback + "]");
                }
            });

            score_table.DataTable( {
                ajax: {
                    url: "/scores/?uid=" + uid,
                    dataSrc: ""
                },
                columns: [
                    {
                        data: function (value, type, row) {
                            return "<a href=/song/?sid=" + value.SID + ">" + value.Title + "</a>";
                        },
                        width: "20%",
                        className: "dt-head-center dt-body-center"
                    },
                    {
                        data: "Artist",
                        width: "20%",
                        className: "dt-head-center dt-body-center"
                    },
                    {
                        data: "Play_Count",
                        className: "dt-head-center dt-body-center"
                    },
                    {
                        data: "BAS_Level",
                        className: "dt-head-center dt-body-center"
                    },
                    {
                        data: "BAS_Score",
                        className: "dt-head-center dt-body-center"
                    },
                    {
                        data: "BAS_Rating",
                        className: "dt-head-center dt-body-center"
                    },
                    {
                        data: "BAS_FC",
                        className: "dt-head-center dt-body-center"
                    },
                    {
                        data: "ADV_Level",
                        className: "dt-head-center dt-body-center"
                    },
                    {
                        data: "ADV_Score",
                        className: "dt-head-center dt-body-center"
                    },
                    {
                        data: "ADV_Rating",
                        className: "dt-head-center dt-body-center"
                    },
                    {
                        data: "ADV_FC",
                        className: "dt-head-center dt-body-center"
                    },
                    {
                        data: "EXT_Level",
                        className: "dt-head-center dt-body-center"
                    },
                    {
                        data: "EXT_Score",
                        className: "dt-head-center dt-body-center"
                    },
                    {
                        data: "EXT_Rating",
                        className: "dt-head-center dt-body-center"
                    },
                    {
                        data: "EXT_FC",
                        className: "dt-head-center dt-body-center"
                    }
                ],
                columnDefs: [
                    { targets: [4, 8, 12], type: "score" },
                    { targets: [3, 7, 11], type: "level" },
                    { targets: 6, orderData: [6, 4] },
                    { targets: 10, orderData: [10, 8] },
                    { targets: 14, orderData: [14, 12] },
                    { targets: 4, orderData: [4, 2] },
                    { targets: 8, orderData: [8, 2] },
                    { targets: 12, orderData: [12, 2] },
                    { targets: 5, orderData: [4, 2] },
                    { targets: 9, orderData: [8, 2] },
                    { targets: 13, orderData: [12, 2] },
                    {
                        targets: [5, 9, 13],
                        render: function(data, type, row) {
                            if (data == "NP") {
                                return "--";
                            }
                            else {
                                return data;
                            };
                        }
                    }
                ],
                pageLength: 50,
                lengthMenu: [[20, 50, 100, 200, -1], [20, 50, 100, 200, "ALL"]],
                scrollY: 520
            });

            <!--score_table.bootstrapTable( {-->
                <!--url: "/scores/?uid=" + uid,-->
                <!--method: "get",-->
                <!--dataType: "json",-->
                <!--columns: [-->
                <!--{-->
                    <!--field: "Title",-->
                    <!--title: "Title",-->
                    <!--align: "left",-->
                    <!--valign: "middle",-->
                    <!--width: "200",-->
                    <!--formatter: function(value, row, index){-->
                        <!--return "<a href='/song/?sid=" + row.SID + "'>" + row.Title + "</a>";-->
                    <!--}-->
                <!--},-->
                <!--{-->
                    <!--field: "Artist",-->
                    <!--title: "Artist",-->
                    <!--align: "left",-->
                    <!--valign: "middle",-->
                    <!--width: "200"-->
                <!--},-->
                <!--{-->
                    <!--field: "Play_Count",-->
                    <!--title: "PC",-->
                    <!--align: "center",-->
                    <!--valign: "middle",-->
                    <!--width: "50"-->
                <!--},-->
                <!--{-->
                    <!--field: "BAS_Level",-->
                    <!--title: "BAS",-->
                    <!--align: "center",-->
                    <!--valign: "middle",-->
                    <!--width: "50"-->
                <!--},-->
                <!--{-->
                    <!--field: "BAS_Score",-->
                    <!--title: "Score",-->
                    <!--align: "center",-->
                    <!--valign: "middle",-->
                    <!--width: "80"-->
                <!--},-->
                <!--{-->
                    <!--field: "BAS_FC",-->
                    <!--title: "FC",-->
                    <!--align: "center",-->
                    <!--valign: "middle",-->
                    <!--width: "50"-->
                <!--},-->
                <!--{-->
                    <!--field: "ADV_Level",-->
                    <!--title: "ADV",-->
                    <!--align: "center",-->
                    <!--valign: "middle",-->
                    <!--width: "50"-->
                <!--},-->
                <!--{-->
                    <!--field: "ADV_Score",-->
                    <!--title: "Score",-->
                    <!--align: "center",-->
                    <!--valign: "middle",-->
                    <!--width: "80"-->
                <!--},-->
                <!--{-->
                    <!--field: "ADV_FC",-->
                    <!--title: "FC",-->
                    <!--align: "center",-->
                    <!--valign: "middle",-->
                    <!--width: "50"-->
                <!--},-->
                <!--{-->
                    <!--field: "EXT_Level",-->
                    <!--title: "EXT",-->
                    <!--align: "center",-->
                    <!--valign: "middle",-->
                    <!--width: "50"-->
                <!--},-->
                <!--{-->
                    <!--field: "EXT_Score",-->
                    <!--title: "Score",-->
                    <!--align: "center",-->
                    <!--valign: "middle",-->
                    <!--width: "80"-->
                <!--},-->
                <!--{-->
                    <!--field: "EXT_FC",-->
                    <!--title: "FC",-->
                    <!--align: "center",-->
                    <!--valign: "middle",-->
                    <!--width: "50"-->
                <!--}-->
                <!--],-->
                <!--height: "650",-->
                <!--search: true,-->
                <!--formatLoadingMessage: function () {-->
                    <!--return "";-->
                <!--},-->
            <!--});-->
        }
    });

    function switchPage_skp() {
        window.location.href="/player/detail/skp/?uid="+uid;
    };

    function switchPage_sum() {
        window.location.href="/player/summary/?uid="+uid;
    };

    function switchPage_home() {
        window.location.href="/home";
    };
</script>
</body>

</html>
