<!DOCTYPE html>
{% load staticfiles %}
<html>

<head>
    <meta charset="UTF-8">
    <title>jubeat scores record website</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <!--<link rel="stylesheet" href="{% static 'bootstrap-table-master/src/bootstrap-table.css' %}">-->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.css">

    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!--<script src="{% static 'bootstrap-table-master/src/bootstrap-table.js' %}"></script>-->
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
</head>

<body>
    <div class="row" style="background-color: #C0C0C0">
        <div class="col-md-8">
            <h2 id="player"></h2>
        </div>
        <div class="col-md-4" style="text-align: right">
            <br/>
            <button type="button" class="btn btn-default" onclick="switchPage_all()">All</button>
            <button type="button" class="btn btn-default" onclick="switchPage_det()">Detail</button>
            <button type="button" class="btn btn-default" onclick="switchPage_norm()">Normal Mode</button>
            <button type="button" class="btn btn-default" onclick="switchPage_home()">Home</button>
        </div>
    </div>

    <p></p>

    <div>
        <table id="score_table" class="display cell-border compact" style="width:100%">
            <thead style="background-color: #C0C0C0"></thead>
        </table>
    </div>

<script>
    var score_table = $("#score_table");
    uid = window.location.href.split("/player/summary/skp/?uid=")[1];

    $.ajax({
        url: "/u_check/",
        type: "get",
        data: "uid=" + uid,
        dataType: "text",
        success: function(callback) {
            $("#player").html(callback);

            score_table.DataTable( {
                ajax: {
                    url: "/summary/skp/?uid=" + uid,
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "Level",
                        title: "Level",
                        className: "dt-head-center dt-body-center"
                    },
                    {
                        data: "Average",
                        title: "Average",
                        defaultContent: "",
                        className: "dt-head-center dt-body-center"
                    },
                    {
                        data: "Played_Songs",
                        title: "Played",
                        defaultContent: "",
                        className: "dt-head-center dt-body-center"
                    },
                    {
                        data: "Total_Play_Count",
                        title: "Total PC",
                        defaultContent: "",
                        className: "dt-head-center dt-body-center"
                    },
                    {
                        data: "SKP_50",
                        title: "SKP_50",
                        defaultContent: "",
                        className: "dt-head-center dt-body-center"
                    },
                    {
                        data: "Next",
                        title: "Next",
                        defaultContent: "",
                        className: "dt-head-center dt-body-center"
                    },
                    {
                        data: "MAX_50",
                        title: "MAX_50",
                        defaultContent: "",
                        className: "dt-head-center dt-body-center"
                    }
                ],
                <!--columnDefs: [-->
                    <!---->
                <!--],-->
                paging: false,
                ordering: false
            });

            <!--score_table.bootstrapTable( {-->
                <!--url: "/summary/?uid=" + uid,-->
                <!--method: "get",-->
                <!--dataType: "json",-->
                <!--columns: [-->
                <!--{-->
                    <!--field: "Level",-->
                    <!--title: "Level",-->
                    <!--align: "center",-->
                    <!--valign: "middle",-->
                    <!--width: "50",-->
                <!--},-->
                <!--{-->
                    <!--field: "Total",-->
                    <!--title: "Total",-->
                    <!--align: "center",-->
                    <!--valign: "middle",-->
                    <!--width: "50"-->
                <!--},-->
                <!--{-->
                    <!--field: "NP",-->
                    <!--title: "NP",-->
                    <!--align: "center",-->
                    <!--valign: "middle",-->
                    <!--width: "50"-->
                <!--},-->
                <!--{-->
                    <!--field: "E",-->
                    <!--title: "E",-->
                    <!--align: "center",-->
                    <!--valign: "middle",-->
                    <!--width: "50"-->
                <!--},-->
                <!--{-->
                    <!--field: "D",-->
                    <!--title: "D",-->
                    <!--align: "center",-->
                    <!--valign: "middle",-->
                    <!--width: "50"-->
                <!--},-->
                <!--{-->
                    <!--field: "C",-->
                    <!--title: "C",-->
                    <!--align: "center",-->
                    <!--valign: "middle",-->
                    <!--width: "50"-->
                <!--},-->
                <!--{-->
                    <!--field: "B",-->
                    <!--title: "B",-->
                    <!--align: "center",-->
                    <!--valign: "middle",-->
                    <!--width: "50"-->
                <!--},-->
                <!--{-->
                    <!--field: "A",-->
                    <!--title: "A",-->
                    <!--align: "center",-->
                    <!--valign: "middle",-->
                    <!--width: "50"-->
                <!--},-->
                <!--{-->
                    <!--field: "S",-->
                    <!--title: "S",-->
                    <!--align: "center",-->
                    <!--valign: "middle",-->
                    <!--width: "50"-->
                <!--},-->
                <!--{-->
                    <!--field: "SS",-->
                    <!--title: "SS",-->
                    <!--align: "center",-->
                    <!--valign: "middle",-->
                    <!--width: "50"-->
                <!--},-->
                <!--{-->
                    <!--field: "SSS",-->
                    <!--title: "SSS",-->
                    <!--align: "center",-->
                    <!--valign: "middle",-->
                    <!--width: "50"-->
                <!--},-->
                <!--{-->
                    <!--field: "EXC",-->
                    <!--title: "EXC",-->
                    <!--align: "center",-->
                    <!--valign: "middle",-->
                    <!--width: "50"-->
                <!--},-->
                <!--{-->
                    <!--field: "Average",-->
                    <!--title: "Average",-->
                    <!--align: "center",-->
                    <!--valign: "middle",-->
                    <!--width: "80"-->
                <!--}-->
                <!--],-->
                <!--height: "650",-->
                <!--search: true,-->
                <!--formatLoadingMessage: function () {-->
                    <!--return "";-->
                <!--},-->
            <!--});-->
        }
    });

    function switchPage_all() {
        window.location.href="/all/summary/skp";
    };

    function switchPage_det() {
        window.location.href="/player/detail/skp/?uid="+uid;
    };

    function switchPage_norm() {
        window.location.href="/player/detail/?uid="+uid;
    };

    function switchPage_home() {
        window.location.href="/home";
    };
</script>
</body>

</html>
